/* css file for Navbar */
#bars_icon{
    margin-left: 30px;
    margin-right: 30px;
    height: 25px;
}

/* login button */
#loginbtn{
    margin-right: 20px;
    height: 50px;
    border-radius: ;
}