/* css file for Navbar */
#bars_icon{
    margin-left: 30px;
    margin-right: 30px;
    height: 25px;
}

/* login button */
#loginbtn{
    margin-right: 20px;
    height: 45px;
    border-radius: 50px;
    width: 100px;
    background-color: white;
    color: black;
    border-color: white;
    filter: drop-shadow(2px 3px 6px rgba(159, 155, 155, 0.3));
}