/* css file for Navbar */
#bars_icon{
    margin-left: 30px;
    margin-right: 30px;
    height: 25px;
}

/* login button */
#loginbtn{
    margin-right: 20px;
    height: 50px;
    border-radius: 50px;
    width: 100px;
    background-color: white;
    color: black;
    border-color: white;
    filter: drop-shadow(2px 3px 6px rgba(159, 155, 155, 0.3));
    font-weight: 600;
}

/* hover effect on buttons login */
#loginbtn

/* sign up button */
#signup_btn{
    height: 50px;
    border-radius: 50px;
    width: 100px;
    background-color: black;
    color: white;
    border-color: black;
    font-weight: 600;
}

/* user icon */
#user_icon{
    margin-right: 7px;
    color: black;
}

/* for button containing div */
.Navbar{
    position: relative;
    padding: 7px;
    background: none;
}
#button_containing_div{
    position: absolute;
    right: 0px;
    margin-right: 30px;
}