main {
  height: 100vh;
  background: url('./images/photo-1490367605959-06955305859b.webp');
  background-repeat: no-repeat;
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


