main {
  height: 100vh;
  background: url('./images/11a3ea5ba5ea7b0250cf4bc95cf0d180.jpeg.webp');
  background-repeat: no-repeat;
  background-size: ;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


