/* css file for main */
.main_holder{
    box-sizing: border-box;
    display: flex;
    height: 50vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: flex-start;
}
.sub-holder{
    box-sizing: border-box;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 100px;
}
h1{
    font-size: 50px;
    font-family: 'Laila', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* toggle bar */
.switch{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 60px;
}
.switch input{display: none;}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2ab934;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(20px);
  }
  
  /*------ ADDED CSS ---------*/
  .delivery
  {
    display: none;
  }
  
  .delivery, .pick_up
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+ .slider .delivery
  {display: block;}
  
  input:checked + .slider .pick_up
  {display: none;}
  
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}