/* css file for main */
.main_holder{
    box-sizing: border-box;
    height: 50vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: flex-start;
}
.sub-holder{
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 100px;
}
h1{
    font-size: 50px;
    font-family: 'Laila', sans-serif;
    font-family: 'Poppins', sans-serif;

}