/* css file for main */
.main_holder{
    box-sizing: border-box;
    display: flex;
    height: 50vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: flex-start;
}
.sub-holder{
    box-sizing: border-box;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 100px;
}
h1{
    font-size: 50px;
    font-family: 'Laila', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* toggle bar */
.switch{
    --width: 200px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
}
