/* css file for main */
.main_holder{
    box-sizing: border-box;
    display: flex;
    ba
}
.sub-holder{
    box-sizing: border-box;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
}