/* css file for main */
.main_holder{
    box-sizing: border-box;
    display: flex;
    background-color: aqua;
    height: 50vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
.sub-holder{
    box-sizing: border-box;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
}